<!-- <div *ngIf="books.length == 4">text here</div>
<div [hidden]="books.length == 3">not 4</div>

<div>
  Title: <input type="text" #titleEl /> <br/>
  Author: <input type="text" #authorEl /> <br/>
  Price: <input type="text" #priceEl /> <br/>
  Rating: <select #ratingEl>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
</div>

<button (click)="addBook(titleEl, authorEl, priceEl, ratingEl)">
  print
</button> -->
{{ today | date:'dd//MMM//yyyy' }}
<div *ngFor="let book of books; let i=index">
  <div 
    class="book" 
    *ngIf="book.rating != 1"
    [class.high]="book.rating == 5"
  >
    <a routerLink="/book/{{i+1}}" class="title">
      {{book.title | slice:1 | uppercase}}
    </a>
    <div [highlight]="'green'" class="author">{{book.author}}</div>
    <div>{{book.price | currency:'EUR'}}</div>
    <!-- <div>{{book.rating | number:'1.2-3'}}</div> -->
    <div>{{book.rating | stars:'@'}}</div>
    <div>
      <button (click)="rateUp(book)">&uarr;</button>
      <button (click)="rateDown(book)">&darr;</button>
    </div>
  </div>
</div>