<!-- <div *ngIf="books.length == 4">text here</div>
<div [hidden]="books.length == 3">not 4</div>

<div>
  Title: <input type="text" #titleEl /> <br/>
  Author: <input type="text" #authorEl /> <br/>
  Price: <input type="text" #priceEl /> <br/>
  Rating: <select #ratingEl>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
</div>

<button (click)="addBook(titleEl, authorEl, priceEl, ratingEl)">
  print
</button> -->
{{ today | date:'dd//MMM//yyyy' }}
<br/>
<input 
  type="text" 
  #searchText 
  (input)="search(searchText.value)"
  placeholder="Search"
/>

<div class="search-results">
  <div *ngFor="let book of searchResults">
    <a routerLink="/book/{{book.id}}">{{book.title}}</a>
    <br/>
    {{book.author}}
    <hr/>
  </div>
</div>

<div *ngFor="let b of books">
  <app-book-item 
    [book]="b"
    (rateUpBtnClick)="rateUp($event)"
    (rateDownBtnClick)="rateDown($event)"
  >
  </app-book-item>
</div>