.title {
    font-weight: bold;
}
.author {
    font-style: italic;
}
.book {
    padding: 5px;
    background-color: bisque;
    margin-bottom: 5px;
}
.high {
    background-color: pink;
}
.search-results {
    position: absolute;
    background-color: white;
    padding: 5px;
}