<form #addBookForm="ngForm" (ngSubmit)="save()">
  <div>
    Title:
    <input #title="ngModel" type="text" name="title" [(ngModel)]="newBook.title" required minlength="4" />
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required" class="error">
        Title is required.
      </div>
      <div *ngIf="title.errors.minlength" class="error">
        At least 4 characters.
      </div>
    </div>
  </div>
  <div>
    Author:
    <input #author="ngModel" type="text" name="author" [(ngModel)]="newBook.author" required />
    <div *ngIf="author.invalid && (author.dirty || author.touched)">
      <div *ngIf="author.errors.required" class="error">
        Author is required.
      </div>
    </div>
  </div>
  <div>
    Price:
    <input type="number" name="price" [(ngModel)]="newBook.price" />
  </div>
  <div>
    Rating:
    <select name="rating" [(ngModel)]="newBook.rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" [disabled]="addBookForm.invalid">Save</button>
</form>
{{addBookForm.valid}}
{{title.errors | json}}
{{author.errors | json}}
{{newBook | json}}